.textImgCenter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textImgCenter h2 {
  position: absolute;
  font-size: 3rem;
  letter-spacing: 0.3em;
}

.imgBg {
  width: 200px;
  opacity: 0.1;
  z-index: -1;
}
